button {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid black;
  box-shadow: 2px 2px 7px rgb(75, 75, 75);
  color: black;
  background-color: #ededed;
}
button :hover {
  background-color: #FF7300;
}

header {
  background-color: #a8a8a8;
}
header .logo {
  margin: 0;
  padding: 25px 30px;
  font-weight: bold;
  font-size: 1.6em;
}
header h2:hover {
  transition: 0.3s;
  transform: scale(1.1);
}
header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 25px;
}
header a {
  padding: 4px 12px;
  text-decoration: none;
  font-size: 18px;
  color: #ededed;
}
header a:hover {
  color: #FF7300;
}

#banner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./imagenes/mat.header.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#banner h1 {
  font-size: 35px;
  color: #ededed;
}

#sobredf .container {
  text-align: center;
  padding: 150px 12px;
}
#sobredf h1 {
  font-size: 35px;
}
#sobredf p {
  font-size: 20px;
}

#prod {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  background-color: #626567;
}
#prod .productos {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 50px;
}
#prod .productos .face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 10px;
  overflow: hidden;
  transition: 0.5s;
}
#prod .productos .front {
  transform: perspective(600px) rotate(0deg);
  box-shadow: 0 5px 10px black;
}
#prod .productos .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#prod .productos .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #ededed;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}
#prod .productos .back {
  transform: perspective(600px) rotateY(180deg);
  background: #8E8E8E;
  padding: 15p;
  color: #ededed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px black;
}
#prod .productos .back .linkprod {
  border-top: solid 1px #ededed;
  height: 50px;
  line-height: 50px;
}
#prod .productos .back a {
  color: #FF7300;
}
#prod .productos .back h3 {
  color: black;
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}
#prod .productos .back p {
  color: #ededed;
  letter-spacing: 1px;
}
#prod .productos .productos:hover .front {
  transform: perspective(600px) rotateY(180deg);
}
#prod .productos .productos:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

#servicios .container {
  text-align: center;
  padding: 200px 12px;
}
#servicios li {
  list-style: none;
  margin: 16px 0px;
  font-size: 25px;
  font-weight: bold;
}

.footer {
  background-color: #a8a8a8;
  height: auto;
  padding-top: 30px;
}
.footer .footer_links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer .footer_links a {
  flex-direction: column;
}
.footer h3 {
  text-align: center;
  font-size: 27px;
}
.footer h3 :hover {
  transition: 0.3s;
  transform: scale(1.1);
}
.footer .socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 35px;
}
.footer .socials li {
  margin: 0 30px;
}
.footer .socials a {
  text-decoration: none;
  color: #ededed;
}
.footer .socials i {
  font-size: 40px;
}/*# sourceMappingURL=estilos.css.map */