*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #ededed;
}

a{
    text-decoration: none;
}

.spandf{
    color: #FF7300;
}

button{
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid black;
    box-shadow: 2px 2px 7px rgb(75, 75, 75);
    color: black;
    background-color: #ededed;
}

button:hover{
    background-color: #FF7300;
}

.container{
    max-width: 1400px;
    margin: auto;
}


/* header */
header{
    background-color: #a8a8a8;
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    font-size: 1.6em;
}

h2:hover{
    transition: .3s;
    transform: scale(1.1);
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 4px 12px;
    text-decoration: none;
    font-size: 18px;
    color: #ededed;
}
header a:hover{
    color: #FF7300;
}


/* section 1 */
#banner{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    )
    ,url("./imagenes/mat.header.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#banner h1{
    font-size: 35px;
    color: #ededed;
}


/* section 2 */
#sobredf .container{
    text-align: center;
    padding: 150px 12px;
}

#sobredf h1{
    font-size: 35px;
}

#sobredf p{
    font-size: 20px;
}


/* section 3 */
#prod{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    background-color: #626567;
}

.productos{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 50px;
}

.productos .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 10px;
    overflow: hidden;
    transition: .5s;
}

.productos .front{
    transform: perspective(600px) rotate(0deg);
    box-shadow: 0 5px 10px black;
}

.productos .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productos .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #ededed;
    background: rgba(0, 0, 0,.4);
    text-align: center;
}

.productos .back{
    transform: perspective(600px) rotateY(180deg);
    background: #8E8E8E;
    padding: 15p;
    color: #ededed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px black;
}
 
.productos .back .linkprod{
    border-top: solid 1px #ededed;
    height: 50px;
    line-height: 50px;
}

.productos .back .linkprod a{
    color: #FF7300;
}

.productos .back h3{
    color: #000000;
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.productos .back p{
    color: #ededed;
    letter-spacing: 1px;
}

.productos:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.productos:hover .back{
    transform: perspective(600px) rotateY(360deg);
}


/* section 4 */
#servicios .container{
    text-align: center;
    padding: 200px 12px;
}

#servicios li{
    list-style: none;
    margin: 16px 0px;
    font-size: 25px;
    font-weight: bold;
}


/* Footer */
.footer{
    background-color: #a8a8a8;
    height: auto;
    padding-top: 30px;
}

.footer_links{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer h3{
    text-align: center;
    font-size: 27px;
}

.footer h3:hover{
    transition: .3s;
    transform: scale(1.1);
}

.footer .footer_links a{
    flex-direction: column;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 35px;
}

.socials li{
    margin: 0 30px;
}

.socials a{
    text-decoration: none;
    color: #ededed;
}

.socials a i{
    font-size: 40px;
}


/* formulario contactos */
.hola{
    background: url("./imagenes/mat.header.JPG");
    background-size: cover;
    background-attachment: fixed;
}

.contenedor{
    padding-top: 30px;
    padding-bottom: 60px;
}

.contenedor .form .form-header .form-title{
    font-weight: normal;
    color: #dedede;
    text-align: center;
    padding: 14px 0;
}

.contenedor .form{
    background: rgba(0, 0, 0,.6);
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px;
}

.contenedor .form .form-label{
    display: block;
    color: #ededed;
    font-size: 16px;
    position: relative;
}

.contenedor .form .form-input, .form-textarea{
    background: rgba(255, 255, 255, 0.7);
    border: none;
    outline: none;
    border-bottom: 2px solid #ededed;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
}

.contenedor .form .form-textarea{
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
}

.contenedor .form .btn-submit{
    width: 100%;
    outline: none;
    background: #FF7300;
    font-size: 16px;
    border: none;
    color: #ededed;
    padding: 15px 0;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor .form .btn-submit:hover{
    background: #ff943d;
}


/* media quaries */
@media (min-width:769px){

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #banner h1{
        font-size: 50px;
    }

    #sobredf .container{
        display: flex;
        justify-content: space-evenly;
    }

    #sobredf h1{
        font-size: 40px;
        margin: 0;
    }

    #sobredf .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #sobredf .manomat{
        background-image: url("./imagenes/manomat.JPG");
        border-radius: 10px;
        background-size: cover;
        background-position: center center;
        height: 420px;
        width: 520px;
    }
    
    #servicios li{
        font-size: 40px;
    }
}

